snippet shebang    #! /bin/bash
	#! /bin/bash

	${1}
snippet while    while read -r FILE; do...done
	while read -r FILE; do
		${1}
	done
snippet case    case "${...}" in ... esac
	case "\$\{${1}\}" in
		${2})
		;;
		*)
	esac
snippet {{    "${...}"
	"\$\{${1}\}"
