snippet pcls    public class ClassName {...}
	public class ${1:} {
		${2:}
	}
snippet cls    class ClassName {...}
	class ${1:} {
		${2:}
	}
snippet main    public static void main(String[] args) {...}
	public static void main(String[] args) {
		${1:}
	}
